body {

background-color: antiquewhite;

}


#box {
    width: 400px;
    height: 400px;
    background-color: rgb(97, 97, 97);
    border: 30px solid rgb(232, 174, 0);
    margin: auto;
    justify-content: left;
}

#textbox {
    margin: auto;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    font-size: 50px;
}

#answer {
    margin: auto;
    margin-top: 20px;
    width: 230px;
    text-align: center;
    font-size: 25px
}